@-webkit-keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.marquee span {
    text-transform: uppercase;
    will-change: transform;
    transform: translateX(0);
    white-space: nowrap;
    animation: marquee 2s linear infinite;
    font-family: "Gravitas One", Helvetica, Arial, sans-serif;
}

.social__media__icon {
    cursor: pointer;
    border-radius: 30px;
    background: #0F0F0F;
    border: 1px solid #ffffff10;
    /* background: linear-gradient(120deg, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.05)); */
    /* background: linear-gradient(120deg, #ffffff4d, #ffffff0d); */

}

.social__media__icon:hover {
    background: #ffffff !important;
    cursor: pointer;
}

.social__media__icon:hover .social_icon {
    color: #000;
}

.about__page .WorkTogetherComponent h2 {
    font-size: 3em;
    font-weight: 600;
    line-height: 1.5;
    padding-top: 20px;
}

.form__input {
    width: 100%;
    border: none;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.01));
    border-radius: 10px;
    font-size: 14px;
    display: block;
    color: #fff;
}

.form__input:focus {
    /* border: none; */
    outline: none;
}

.form__input::placeholder {
    font-size: 1rem;
    text-transform: capitalize;
}

.Project__Poster .poster_overlay {
    opacity: .2;
}

.poster_overlay .poster__text {
    opacity: 0;
}

.Project__Poster:hover .poster_overlay {
    opacity: 1;
}

.Project__Poster:hover .poster__text {
    opacity: 1;
    position: relative;
}