@import "tailwindcss";

@theme {
    --color-theme-50: #f6f6f6;
    --color-theme-100: #e7e7e7;
    --color-theme-200: #d1d1d1;
    --color-theme-300: #b0b0b0;
    --color-theme-400: #888888;
    --color-theme-500: #6d6d6d;
    --color-theme-600: #5d5d5d;
    --color-theme-700: #4f4f4f;
    --color-theme-800: #454545;
    --color-theme-900: #3d3d3d;
    --color-theme-950: #0f0f0f;
}



@font-face {
    font-family: 'aquraium';
    src: url('/Fonts/AQUARIUM.ttf') format('truetype');
    /* Path relative to the public folder */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'future-font';
    src: url('/Fonts/OTHER-FUTURE.ttf') format('truetype');
    /* Path relative to the public folder */
    font-weight: normal;
    font-style: normal;
}

/* Set the default font to MyCustomFont for the whole app */
.font-custom {
    /* font-family: 'aquraium', sans-serif; */
    font-family: 'future-font', sans-serif;
    text-decoration: line-through;
}


::-webkit-scrollbar {
    width: 0px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Color of the tracking area */
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
    border-radius: 1px;
    /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the thumb on hover */
}

.slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    transform-origin: bottom;
    z-index: 9999999;
}

.slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000000;
    transform-origin: top;
    z-index: 999999;
}

html,
body {
    background: #0f0f0f;
    color: #FFF;
    transition: .5s all !important;
}

.container {
    margin: auto;

    @media (width >=80rem) {
        max-width: 74rem;
    }
}

.mobile__nav {
    clip-path: circle(0% at 96% 3%);
}

.mobile__nav.open__nav {
    clip-path: circle(70.7% at 50% 50%);
}

.bg-custom {
    position: relative;
    border-radius: 30px;
    background: #0F0F0F;
    border: 1px solid #ffffff10;
    /* background: linear-gradient(120deg, rgba(255, 255, 255, 0.14), rgba(255, 255, 255, 0.05)); */
    background: linear-gradient(120deg, #ffffff1b, #ffffff00);

}

.bg-custom::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #0F0F0F;
    /* background: linear-gradient(120deg, #ffffff4d, #ffffff0d); */
    border-radius: 30px;
    opacity: 0.25;
}

.CredentialProfileBtn.bg-custom:hover {
    background: #FFF;
    color: #0F0F0F;
}

.profile-poster {
    border-radius: 30px 5px 5px 5px;

    @media (width <=640px) {
        border-radius: 20px;
        object-position: top;
    }

}